<div {{ ATTR_BOOL }}>
  <h2>{{ TITLE }}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic blanditiis in, praesentium, sint ad eum dolorum ex? Doloremque deserunt placeat eaque sit libero ea. Quam repellendus magni inventore ut animi!</p>
  <p>Dicta, laborum tempore, nesciunt distinctio accusantium corporis reiciendis facere quod officiis iste modi sint nam necessitatibus consequatur tenetur, libero totam rem ut rerum quas. Sunt nesciunt accusamus quos atque laborum.</p>
  <p>Pariatur asperiores tempore doloremque expedita blanditiis nam, ut consequuntur laborum corporis vel iure veritatis sequi culpa accusantium exercitationem facilis ab, suscipit nesciunt incidunt officia aliquid delectus iste. Vero, commodi, deleniti.</p>
</div>
