<div class="fsa-header-app">
  <div class="fsa-header-app__bd">
    <div class="fsa-header-app__primary">
      <a class="fsa-header-app__home-link" href="{{ URL_PREFIX }}index.html">
        <span class="fsa-header-app__app-name">
          <abbr class="fsa-header-app__app-abbr" title="FSA Prototype Kit">UXPK</abbr>
          <span class="fsa-header-app__app-full">FPAC Prototype Kit</span>
        </span>
      </a>
    </div>
    <div class="fsa-header-app__secondary">
      <span class="fsa-header-app__profile">
        <a href="https://www.eauth.usda.gov/Logout/logoff.asp" class="fsa-header-app__profile-link">
          <span class="fsa-header-app__profile-name">Michael Scott (Log off)</span>
        </a>
      </span>
    </div>
  </div>
</div>
