{{#if francis }}
<div class="test-card">
  <h3 class="test-card__name">Francis C. Rupert</h3>
  <ul class="test-card__attr">
    <li><strong>Employer</strong>: SAIC</li>
    <li><strong>Position</strong>: Shortstop</li>
  </ul>
</div>
{{/if}}

{{#if casey }}
<div class="test-card">
  <h3 class="test-card__name">Casey Hill</h3>
  <ul class="test-card__attr">
    <li><strong>Employer</strong>: MCG</li>
    <li><strong>Position</strong>: GK</li>
  </ul>
</div>
{{/if}}

{{#if joe }}
<div class="test-card">
  <h3 class="test-card__name">Joe Pallucca</h3>
  <ul class="test-card__attr">
    <li><strong>Employer</strong>: SAIC</li>
    <li><strong>Position</strong>: Ballboy, Scorekeeper</li>
  </ul>
</div>
{{/if}}
