{{#> ../layouts/base TITLE='Prototype Kit - Home' }}

  {{#*inline "header-block"}}
    <header>
      {{> ../components/tophat/tophat }}
      {{> ../components/header-app/header-app URL_PREFIX="./" }}
      {{> ../components/global-nav/global-nav NAV1_ACTIVE=true URL_PREFIX="./" }}
    </header>
  {{/inline}}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Add a Loremsum</h1>

        {{> ../components/stepped-tabs/stepped-tabs STEP1=true URL_PREFIX="./" }}

        <div>
          <p class="fsa-text--lead">Similique natus laborum provident porro necessitatibus, quibusdam recusandae alias delectus? Ut temporibus atque consequuntur sint saepe veritatis ab dolore voluptatum, eligendi iure!</p>

          <p>
            <button
              role="button"
              type="button"
              aria-behavior="modal-show"
              data-behavior="open-modal"
              aria-controls="UNIQUE-ID-emp-new"
              aria-expanded="false"
              class="fsa-btn fsa-btn--secondary"
            >
              Add New Employee
            </button>
          </p>

          <table class="fsa-table fsa-table--borderless fsa-table--responsive fsa-table--responsive-horizontal">
            <caption class="sr-only">Employees</caption>
            <thead>
              <tr>
                <th scope="col" class="fsa-table__th--sticky" aria-sort="ascending"><button class="fsa-table__sort fsa-table__sort--ascending" type="button">ID</button></th>
                <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">First Name</button></th>
                <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Last Name</button></th>
                <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Job Title</button></th>
                <th scope="col" class="fsa-table__th--sticky"><button class="fsa-table__sort" type="button">Hire Date</button></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">11211</button></th>
                <td aria-label="First Name" scope="row">Jimmy</td>
                <td aria-label="Last Name" scope="row">McNulty</td>
                <td aria-label="Job Title" scope="row">Patrol Officer</td>
                <td aria-label="Hire Date" scope="row"><time datetime="1991-09-01">1991-09-01</time></td>
              </tr>
              <tr id="UNIQUE-ID__employee-56190">
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">56190</button></th>
                <td aria-label="First Name" scope="row">Stringer</td>
                <td aria-label="Last Name" scope="row">Bell</td>
                <td aria-label="Job Title" scope="row">Lieutenant</td>
                <td aria-label="Hire Date" scope="row"><time datetime="2000-06-01">2000-06-01</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">78451</button></th>
                <td aria-label="First Name" scope="row">Lestor</td>
                <td aria-label="Last Name" scope="row">Freamon</td>
                <td aria-label="Job Title" scope="row">Major Case Unit Detective</td>
                <td aria-label="Hire Date" scope="row"><time datetime="1975-12-05">1975-12-05</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">84200</button></th>
                <td aria-label="First Name" scope="row">Cedris</td>
                <td aria-label="Last Name" scope="row">Daniels</td>
                <td aria-label="Job Title" scope="row">Deputy Commissioner</td>
                <td aria-label="Hire Date" scope="row"><time datetime="1985-11-29">1985-11-29</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
              <tr>
                <th aria-label="ID" scope="row"><button type="button" class="fsa-btn fsa-btn--flat" data-behavior="open-modal" aria-controls="UNIQUE-ID-emp-detail" aria-expanded="false">[#####]</button></th>
                <td aria-label="First Name" scope="row">[first_name]</td>
                <td aria-label="Last Name" scope="row">[last_name]</td>
                <td aria-label="Job Title" scope="row">[position]</td>
                <td aria-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Pagination">
            <div class="fsa-pagination" data-current="1" data-total="120">
              <ul class="fsa-pagination__list">
                <li class="fsa-pagination__item fsa-pagination__item--previous" aria-hidden="true">
                  <span class="fsa-pagination__label fsa-pagination__label--previous fsa-pagination__label--disabled">Previous</span>
                </li>
                <li class="fsa-pagination__item">
                  <span class="fsa-pagination__label fsa-pagination__label--current" aria-current="true">1</span>
                </li>
                <li class="fsa-pagination__item">
                  <a class="fsa-pagination__label" href="link.html">2</a>
                </li>
                <li class="fsa-pagination__item" aria-hidden="true">
                  <span class="fsa-pagination__label">…</span>
                </li>
                <li class="fsa-pagination__item">
                  <a class="fsa-pagination__label" href="link.html">120</a>
                </li>
                <li class="fsa-pagination__item fsa-pagination__item--next">
                  <a class="fsa-pagination__label fsa-pagination__label--next" href="link.html">Next</a>
                </li>
              </ul>
            </div>
          </nav>

          {{> ../components/stepped-control/stepped-control
            CURRENT_STEP="1"
            TOTAL_STEPS="5"
            BACK_URL="index.html"
            BACK_LABEL="Back"
            CONTINUE_URL="step2.html"
            CONTINUE_LABEL="Continue"
            USE_GROWL_ON_CANCEL=true
            GROWL_ID="growl_cancel_steps"
            URL_PREFIX="./"
          }}
        </div>

      </div><!-- section_bg -->
    </div><!-- section -->

  {{/inline}}

  {{#*inline "footer-block"}}
    <footer>
      {{> ../components/footer/footer-topper }}
      {{> ../components/footer/footer-footer URL_PREFIX="./" }}
      {{> ../components/footer/footer-screen-id SCREEN_ID="XYZ-WEB-007" }}
    </footer>
  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel GROWL_ID="growl_cancel_steps" }}
    {{> ../components/modal/modal MODAL_URL_1="sections.html" }}
    <!-- /HIDDEN -->
  {{/inline}}

  {{#*inline "scripts-block"}}

    {{> ../includes/scripts }}

  {{/inline}}

{{/../layouts/base }}
