<div>
    <div tabindex="0" id="modal__inspection-06" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
      <div class="fsa-modal__dialog">
        <div class="fsa-modal__content">
          <button class="fsa-modal__close" data-behavior="close-modal" aria-controls="UNIQUE-ID-employee-unsaved"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
          <form>
            <h1 class="fsa-modal__title">Inspection Detail</h1>
            <fieldset>
              <div class="fsa-field">
                <label class="fsa-field__label" for="thingthing-name_887sh">First Name <span class="fsa-field__label-desc">Required</span></label>
                <input data-behavior="validate-empty-field track-change" class="fsa-input fsa-field__item" id="thingthing-name_887sh" name="thingthing-name_887sh" type="text" value="Stringer">
                <span class="fsa-field__message" id="thingthing-name__error_887sh-message-01" role="alert">This field is required</span>
              </div>
              <div class="fsa-field fsa-m-t--l">
                <button class="fsa-btn fsa-btn--primary" type="button" data-behavior="close-modal whiteout-dismiss growl-show growl-dismiss-delay" aria-controls="UNIQUE-ID-458s5g8w5">Save</button>
                <button class="fsa-btn fsa-btn--flat" data-behavior="close-modal" type="button">Cancel</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div tabindex="0" id="UNIQUE-ID-emp-new" class="fsa-modal fsa-modal--top" role="dialog" aria-hidden="true">
      <div class="fsa-modal__dialog">
        <div class="fsa-modal__content">
          <button class="fsa-modal__close" data-behavior="close-modal" aria-controls="UNIQUE-ID-employee-unsaved"><img class="fsa-modal__close-icon" src="img/close.svg" alt="close"></button>
          <form>
            <h1 class="fsa-modal__title">Add an Employee</h1>
            <fieldset>
              <div class="fsa-field">
                <label class="fsa-field__label" for="thingthing-name_726new">First Name <span class="fsa-field__label-desc">Required</span></label>
                <input data-behavior="validate-empty-field all-filled" class="fsa-input fsa-field__item" id="thingthing-name_726new" name="thingthing-name_726new" type="text" value="">
                <span class="fsa-field__message" id="thingthing-name__error_726new-message-01" role="alert">This field is required</span>
              </div>
              <div class="fsa-field">
                <label class="fsa-field__label" for="thingthing-last-name_726new">Last Name <span class="fsa-field__label-desc">Required</span></label>
                <input data-behavior="validate-empty-field all-filled" class="fsa-input fsa-field__item" id="thingthing-last-name_726new" name="thingthing-last-name_726new" type="text" value="">
                <span class="fsa-field__message" id="thingthing-last-name__error_726new-message-01" role="alert">This field is required</span>
              </div>
              <div class="fsa-field">
                <label class="fsa-field__label" for="thingthing-job-title_726new">Job Title <span class="fsa-field__label-desc">Required</span></label>
                <input list="job-title_1234" data-behavior="validate-empty-field all-filled" class="fsa-input fsa-field__item" id="thingthing-job-title_726new" name="thingthing-job-title_726new" type="text" value="">
                <span class="fsa-field__message" id="thingthing-job-title__error_726new-message-01" role="alert">This field is required</span>
                <datalist id="job-title_1234">
                  <option value="Lieutenant"></option>
                  <option value="Independent Consultant"></option>
                  <option value="Deputy Commissioner"></option>
                  <option value="Major Case Unit Detective"></option>
                  <option value="Patrol Officer"></option>
                  <option value="Union Secretary"></option>
                </datalist>
              </div>
              <div class="fsa-field fsa-field--columns">
                <span class="fsa-field__label">Date</span>
                <div class="fsa-grid">
                  <div class="fsa-grid__auto">
                    <div class="fsa-field__column">
                      <label class="fsa-field__help" for="date__month_98">Month</label>
                      <input class="fsa-input fsa-input--block" id="date__month_98" name="date__month_98" type="number" pattern="0?[1-9]|1[012]" min="1" max="12" value="" aria-describedby="lorem-1234-help-88">
                    </div>
                  </div>
                  <div class="fsa-grid__auto">
                    <div class="fsa-field__column">
                      <label class="fsa-field__help" for="date__day_98">Day</label>
                      <input class="fsa-input fsa-input--block" id="date__day_98" name="day" type="number" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" min="1" max="31" value="" aria-describedby="lorem-1234-help-88">
                    </div>
                  </div>
                  <div class="fsa-grid__auto">
                    <div class="fsa-field__column">
                      <label class="fsa-field__help" for="date__year_98">Year</label>
                      <input class="fsa-input fsa-input--block" id="date__year_98" name="year" type="number" pattern="[0-9]{4}" min="1900" max="2050" value="" aria-describedby="lorem-1234-help-88">
                    </div>
                  </div>
                </div>
                <span class="fsa-field__help" id="lorem-1234-help-88">For example: 04 28 2017</span>
              </div>
              <div class="fsa-field fsa-m-t--l">
                {{#if MODAL_URL_1 }}
                <a href="{{ URL_PREFIX }}{{ MODAL_URL_1 }}" role="button" type="button" class="fsa-btn fsa-btn--secondary">View Sections</a>
                {{/if}}
                <button data-saver class="fsa-btn fsa-btn--primary" disabled type="button" data-behavior="close-modal whiteout-dismiss growl-show growl-dismiss-delay add-employee" aria-controls="UNIQUE-ID__employee-added" data-added-employee="UNIQUE-ID__employee-88893">Save</button>
                <button class="fsa-btn fsa-btn--flat" type="button" data-behavior="close-modal whiteout-dismiss" aria-controls="UNIQUE-ID-employee-unsaved">Cancel</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>