<nav aria-label="Pagination" id="inspections-pagination">
  <div class="fsa-pagination" data-current="1" data-total="7">
    <ul class="fsa-pagination__list">
      <li class="fsa-pagination__item fsa-pagination__item--previous" aria-hidden="true">
        <span class="fsa-pagination__label fsa-pagination__label--previous fsa-pagination__label--disabled">Previous</span>
      </li>
      <li class="fsa-pagination__item">
        <span class="fsa-pagination__label fsa-pagination__label--current" aria-current="true">1</span>
      </li>
      <li class="fsa-pagination__item">
        <a class="fsa-pagination__label" href="{{ URL_PREFIX }}link.html">2</a>
      </li>
      <li class="fsa-pagination__item" aria-hidden="true">
        <span class="fsa-pagination__label">…</span>
      </li>
      <li class="fsa-pagination__item">
        <a class="fsa-pagination__label" href="{{ URL_PREFIX }}link.html">7</a>
      </li>
      <li class="fsa-pagination__item fsa-pagination__item--next">
        <a class="fsa-pagination__label fsa-pagination__label--next" href="{{ URL_PREFIX }}link.html">Next</a>
      </li>
    </ul>
  </div>
</nav>
